body {
  min-height: 100vh;
  background: #ffe8e3 !important;
  font-family: "Poppins", sans-serif;
}
/*--------------------------------------------------------------
# Nav-bar and header
--------------------------------------------------------------*/
.jumbotron {
  background-image: url(media/645254f9dce95928972baa38_three-happy-pregnant-women-are-making-selfie.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}
.navbar-nav {
  display: inline-block;
}
.navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 3px #000000;
}
.navbar-nav .nav-link:hover {
  color: gold;
  text-shadow: 0 0 3px #000000;
}
.navbar-nav .nav-item .nav-link.active,
.text-end {
  color: gold;
}
.head {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 50px 0 250px 0;
  height: 40px;
  margin: 180px 180px;
}

.p-text {
  text-align: center;
  color: #f1c2b8;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 0 2px #000000;
}

p .head-text {
  color: gold;

  font-weight: bolder;
  font-size: larger;
  text-shadow: 0 0 2px #000000;
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.image-box {
  background-image: url("media/Pam.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  position: relative;
  background-position: center center;
}
.about .content {
  padding: 0 40px;
}
h2.about-head,
h2.contact-head {
  color: gold;
  text-shadow: 0 0 2px #000000;
}

.about .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #000000;
}

.about .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.about .content p {
  font-size: 15px;
  color: #848484;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li + li {
  margin-top: 15px;
}

.about .content ul li {
  position: relative;
  padding-left: 26px;
}

.about .content ul i {
  font-size: 20px;
  color: #ffb03b;
  position: absolute;
  left: 0;
  top: 2px;
}
@media (max-width: 1024px) {
  .about .content,
  .about .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .about .content {
    padding-top: 0;
  }
  .about .accordion-list {
    padding-bottom: 10px;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background-color: #f1c2b8;
}
/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact-pic {
  background-image: url("media/pregnant-women-3867065_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  position: relative;
  background-position: center center;
}
.contactForm {
  background-color: #fff;
}

.btn-contact {
  border-radius: 15px;
  border: 1px solid #f1c2b8;
  background: #f1c2b8;
  color: #fff;
  font-size: 20px;
  display: block;
  margin: 30px auto;
  line-height: 22px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

.btn-contact:hover {
  cursor: pointer;
  background: #fff;
  color: gold;
  border: 1px solid gold;
}
.info li {
  display: flex;
  margin-top: 10px;
}

.info li a {
  color: #fff;
  text-decoration: none;
}
.social {
  display: flex;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  color: #ffff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.social li a:hover {
  border: 2px solid white;
}
.copyright {
  background: #fff6f4;
  padding: 8px 40px;
  text-align: center;
}
